.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 30px;
    max-width: 1200px;
}

.Gallary-name {
    display: block;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

.Gallary-buttons {
    display: flex;
    flex-flow: row;
    align-self: center;
    padding: 30px; 
    height: 30px;
}

.load__btn {
    background-color: aqua;
    border-radius: 5px;
    border: 1px solad black;
    cursor: pointer;
    margin-right: 10px;
}

.clean__btn {
    background-color: rgb(233, 14, 14);
    border-radius: 5px;
    border: 1px solad black;
    cursor: pointer;
}

div#Photo-Gallary__items {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
}

.post {
    display: flex;
    justify-items: center;
    align-items: center;
}
.post * {
    position: relative;
    border: 1px solid green;
    border-radius: 20px;
    width: 250px;
    height: 150px;
}

.preloader {
    display: none;
}

.preloader.activated {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid;
    border-color: red transparent red transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 900px) {
    div#Photo-Gallary__items {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    div#Photo-Gallary__items {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
    }
}