.content__container_links {
    position: relative;
    margin-left: 626.45px;
    margin-top: 107px;
    margin-right: 190.55px;
    margin-bottom: 45.36px;

}
.links {
    display: flex;
    flex-flow: row;
    gap: 60.5px;
}
.content__container {
    display: flex;
    flex-direction: row;
    padding-left: 134.45px;
    padding-right: 134.45px;
}

.content__container_text {
    display: flex;
    flex-flow: column;
}

.content__container_image .image {
    background-size: cover;
    background-position: center center;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 700px;
    top:200px;
    opacity: 0;
    transition: opacity 800ms ease;
}

.content__container_image .image.active {
    opacity: 1;
}

.slider__arrows {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 10px;
    margin-top: 79.64px;
    margin-right: 285.32px;
}

.slider__dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.second-dot {
    margin-left: 10px;
    margin-right: 10px;
}

.hidden {
    display: none;
}

.main__container_two {
    display: none;
}

.main__container_three {
    display: none;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(60px);
    grid-template-areas: 
    "city apartment-area"
    "Repair-time Repair-Cost";
}

.city {
    grid-area: city;
}

.apartment-area {
    grid-area: apartment-area;
}

.Repair-time {
    grid-area: Repair-time;
}

.Repair-Cost {
    grid-area: Repair-Cost;
}

.active {
    display: block;
}