.taskWindowWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #0079BF;
}

.taskWindow__form {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
}

.taskWindow__name {
    margin-left: 15px;
}

.taskWindow__form_label {
    color: rgb(116, 12, 46);
    font-weight: 900;
}
.taskWindow__form_textArea {
    min-width: 300px;
    min-height: 150px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    border-radius: 10px;
}

.taskWindow__button {
    width:fit-content;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.taskWindow__button:hover {
    background-color: green;
}